<div class="page-header">
  <h1 class="page-title">Perfiles y accesos</h1>
  <mz-button-control type="submit" [view]="MenuControlTypeEnum.New" (click)="onMenuAction('insert', null)" />
</div>

<div class="content-card mb-4">
  <mz-form-field-control label="Módulo">
    <select class="select select-bordered w-full" [ngModel]="selectedModulo()" (ngModelChange)="onModuloChange($event)">
      <option [ngValue]="null" disabled selected>{{ MSG_FIELD_FORM.COMBO_REQUIRED }}</option>
      @for (item of modulos(); track item.coModulo) {
      <option [ngValue]="item.coModulo">{{ item.noModulo }}</option>
      }
    </select>
  </mz-form-field-control>
</div>


<div class="content-card">
  <mz-generic-grid [items]="perfiles()" [loading]="isLoading()" [skeletonCount]="6" [columnas]="2" [espaciado]="4"
    [bordeGrosor]="1" bordeColor="border-base-200" redondeado="xl" [sombra]="true" [hover]="true"
    emptyMessage="No hay perfiles registrados" bgColor="bg-base-100">

    <ng-template #itemTemplate let-perfil>
      <div class="flex items-center gap-2 px-3 py-2.5">
        <!-- Estado -->
        <mz-state-control class="shrink-0" [state]="perfil.flEstReg == 1 ? 1 : 0" />

        <!-- Nombre (ocupa el espacio restante, trunca) -->
        <span class="flex-1 min-w-0 truncate font-semibold">
          {{ perfil.noPerfil }}
        </span>

        <!-- ID -->
        <pre class="font-code"><code>#{{ perfil.coPerfil }}</code></pre>

        <!-- Menú -->
        <mz-menu-control class="shrink-0" [items]="menuItems" [state]="perfil.flEstReg ?? null"
          (action)="onMenuAction($event, perfil)" />

      </div>
    </ng-template>
  </mz-generic-grid>
</div>


<mz-modal-control name="perfil-form-page-modal" #perfilFormPageModal>
  <mz-perfil-form-page (saved)="onSaved()" [data]="perfilFormPageModal.data$()" />
</mz-modal-control>

<mz-modal-control name="perfil-pagina-form-page-modal" #perfilPaginaFormPageModal>
  <mz-perfil-pagina-form-page (saved)="onSaved()" [data]="perfilPaginaFormPageModal.data$()" />
</mz-modal-control>