<div class="page-header">
  <h1 class="page-title">Módulos</h1>
  <mz-button-control
    type="submit"
    [view]="MenuControlTypeEnum.New"
    (click)="onMenuAction('insert', null)" />
</div>

<div class="content-card">
  <mz-generic-grid
      [items]="modulos()"
      [loading]="isLoading()"
      [skeletonCount]="6"
      [columnas]="2"
      [espaciado]="4"
      [bordeGrosor]="1"
      bordeColor="border-base-200"
      redondeado="xl"
      [sombra]="true"
      [hover]="true"
      emptyMessage="No hay módulos registrados"
      bgColor="bg-base-100">

    <ng-template #itemTemplate let-modulo>
      <div class="flex items-center gap-2 px-3 py-2.5">

        <!-- Orden -->
       <span class="badge badge-ghost badge font-mono shrink-0">
          {{ modulo.nuOrden }}
        </span>

        <!-- Estado -->
        <mz-state-control class="shrink-0" [state]="modulo.flEstReg == 1 ? 1 : 0" />

        <!-- Nombre (ocupa el espacio restante, trunca) -->
        <span class="flex-1 min-w-0 truncate font-semibold">
          {{ modulo.noModulo }}
        </span>

        <!-- ID -->
        <pre class="font-code" ><code>#{{ modulo.coModulo }}</code></pre>
       

        <!-- Menú -->
        <mz-menu-control
          class="shrink-0"
          [items]="menuItems"
          [state]="modulo.flEstReg ?? null"
          (action)="onMenuAction($event, modulo)" />

      </div>
    </ng-template>
  </mz-generic-grid>
</div>

<mz-modal-control name="modulo-form-page" #moduloModal>
  <mz-modulo-form-page (saved)="onSaved(moduloModal.data$())" [data]="moduloModal.data$()" />
</mz-modal-control>
